<div class="row">
    <div class="col-lg-12">
        <faq faq-heading="General FAQ">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group in-faq heading="What is an 'SLO' or 'cs.vt.edu' 'SLO' account?">
                    It is an account provided by the department of Computer Science that enables you to login
                    to our machines.  The account credentials can also be used to authenticate on the class
                    website.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="How do I get an SLO account?">
                    CS majors who have taken CS 2505 or CS 2506 hopefully already have an SLO account,
                    otherwise go to <a href="https://admin.cs.vt.edu/">admin.cs.vt.edu</a> and create one.
                    The account id will normally be the same as your VT pid, but you will use a different password.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="How do I change/reset my password?">
                    Go to <a href="https://admin.cs.vt.edu/">admin.cs.vt.edu</a>.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="What is rlogin?">
                    <img style="float: right;" height="300px" src="images/2570_M420-chassis_jpg-1024x0.jpg">
                    <p>
                        <a href="http://wordpress.cs.vt.edu/rlogin/">rlogin.cs.vt.edu</a> is a cluster of Linux
                        computers.  A cluster is a collection of networked computers with similar administration and software.
                        For instance, your SLO account is valid on all machines.
                    </p>
                    <p>
                        Physically, as of 2016, rlogin is a rack filled with so-called Dell blades, each of which is a complete
                        server computer packed together in a compact form factor.
                    </p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="How do I log onto rlogin?">
                    <p>Use an <a href="https://en.wikipedia.org/wiki/Secure_Shell">ssh</a> client program.
                        Wikipedia has a list <a href="https://en.wikipedia.org/wiki/Comparison_of_SSH_clients">here.</a>
                        If you are working on a Linux or Macintosh computer, ssh will likely be installed and be available
                        as 'ssh'. On Windows, students often use <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">Putty</a>
                        or <a href="http://cygwin.org/">Cygwin</a>, or they may use <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a>
                        to set up a Linux virtual machine on which to do their work.</p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="If rlogin is a cluster, which machine should I log into?">
                    If you ssh to rlogin.cs.vt.edu, you will be send to an <a href="http://www.linuxvirtualserver.org/software/ipvs.html">IPVS</a>
                    load balancer that forwards your request to a randomly selected machine.  Thus, if you open multiple
                    ssh sessions to rlogin.cs.vt.edu, you may end up on different machines.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Are my files shared between the machines on rlogin?">
                    Yes, all rlogin machines mount (``access'') the file system in which your files reside, it is kept on a separate,
                    shared file server.  You will find the same files (and paths) on all rlogin machines.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Why does my bash prompt say '-bash-4.2$'?">
                    Because our system administrators did not set you up with a standard set
                    of <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=%2Fetc%2Fskel">skeleton .dot files</a>.
                    At the minimum, you should create a <code>~/.bash_profile</code> which contains a line
                    <pre>
# In your ~/.bash_profile
source ~/.bashrc
</pre>
                    and a <tt>~/.bashrc</tt> file that contains this:
                    <pre>
# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
export PATH=~cs3214/bin:$PATH
</pre>
                    but you can of course customize it as desired.  Note that ~/.bash_profile is read by the shell that is started
                    when you log in (this shell will not read ~/.bashrc), all subsequent shells you may start will read ~/.bashrc
                    (and not ~/.bash_profile).  By sourcing (''including'') one from the other you ensure that the file is
                    always included.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="I need to log into a particular machine, how do I do that?">
                    For some assignments, you will need to use multiple ssh sessions on the same machine.
                    One way to accomplish that is to ssh to <tt>portal.cs.vt.edu</tt>, which will present you with a menu
                    of machines to choose from.   A second way is to use a machine's <a href="https://en.wikipedia.org/wiki/IPv6">IPv6</a>
                    address. Below are the IPv6 addresses listed:
                    <table class="table table-condensed">
                        <tr ng-repeat="(hostname, ipv6addr) in rlogin.ipv6addrs">
                            <td>{{hostname}}</td>
                            <td>{{ipv6addr}}</td>
                        </tr>
                    </table>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="What does 'ssh -YC' do?">
                    The -Y switch asks ssh to tunnel X11 connections, and the -C switch instructs it to compress all data transferred, consuming
                    less bandwidth.  Tunneling X11 connections make sense only if you run an X11 server on the machine on which your ssh client
                    is running.  This is usually true if you are using Linux (native or inside VirtualBox), or if you are running Cygwin/X on Windows,
                    but is often not the case if you are running Putty.  Mac Users see <a href="https://support.apple.com/en-us/HT201341">here</a>.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Do I need to install an X server on my computer?">
                    <p>The <a href="https://en.wikipedia.org/wiki/X_Window_System">X Window System</a> is a windowing system, i.e. graphical user interface,
                        that allows a program running on one machine to open windows on another.  For instance, you could run the program
                        'gnome-terminal' or 'xclock' on locust and have the window appear on your laptop.
                        At this point, X11 is not required for CS 3214, although it can be very useful, for instance in order to run programs such as
                        <a href="https://lwn.net/Articles/140350/">gitk</a>, a graphical user interface for git.
                    </p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="How do I set it up so I don't have to type my password every time I log on?">
                    ssh supports SSH Key-based authentication.  You create a private key, store it securely on your computer, and you place
                    the corresponding public key in a directory in your rlogin file space.
                    Here is a <a href="https://www.digitalocean.com/community/tutorials/how-to-configure-ssh-key-based-authentication-on-a-linux-server">good guide</a>
                    on how to set it up.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="I set up SSH Key-Based Authentication, but it still asks for my password!">
                    Common reasons include getting confused about where to place the public/private key and not using the proper permissions.
                    For instance, the private key on the machine you're coming from must be read-protected (it represents your credentials),
                    and the public key on the machine you're logging onto must be protected as well so that no one else can place theirs there.
                    This is discussed in the <a href="https://www.digitalocean.com/community/tutorials/how-to-configure-ssh-key-based-authentication-on-a-linux-server">guide</a> as well.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Why is my rlogin session timing out?">
                    ssh sessions time out after a certain period of inactivity, mainly to protect the load balancer's port space.
                    IPv6 connections should not time out.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="What are 'screen' and 'tmux'?">
                    These are programs that allow you to maintain shell sessions across connects/disconnects/time outs.
                    Some students use them. If you do, please don't forget to shut down your session when you are eventually done.
                    Note that a screen session is specific to a particular machine.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="How do I access my files from the outside?">
                    <p>You can use any file transfer program running on top of ssh.  This includes the command line
                        programs <a href="http://linux.die.net/man/1/scp">scp</a> and <a href="http://linux.die.net/man/1/sftp">sftp</a>,
                        but also programs that allow you to remotely mount your files,
                        such as <a href="https://www.ocf.berkeley.edu/~ykhan/mount-a-sftp-folder-ssh-ftp-on-ubuntu-linux-using-sshfs-fuse/">sshfs</a> for Linux.
                    </p>
                    <p>On Windows, <a href="https://en.wikipedia.org/wiki/WinSCP">WinSCP</a> may be an option.</p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Do I need to work on the rlogin machines or can I work on my own Linux machine?">
                    <p>Generally, all work can be done on the rlogin machines.  Some assignments (few) will need to be done on those machines
                        as they include questions whose answers will be specific to their environment.  Some assignments also use software that is
                        installed only on the rlogin machines.</p>
                    <p>As a <strong>matter of policy</strong>, all assignments will be graded on the rlogin machines, so you are responsible
                        for making sure your code works there.</p>
                    <p>That said, you are free to attempt to use your own native or virtual Linux machine.  Much of the project software should
                        not have specific dependencies, but rather run on many current Linux distributions.  We do not officially support this,
                        but are happy to answer questions and try to help with problems.
                    </p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Can I use the desktop machines in the Systems Lab (McB 124)?">
                    <p>Yes - students enrolled in CS 3214 have card access to McB 124. Use your SLO login to log onto those machines.
                        You will have access to your files there as well.</p>
                    <p>However,  the software environment (OS, toolchain, etc.) may or may not be the same.  (We have requested that Techstaff
                        provide identical arrangements, but those requests were not responded to.)
                        Thus, for assignments that specifically say to use an rlogin machine please ssh into rlogin (which you can do from those machines).</p>
                    <p>You cannot log on remotely to those machines via IPv4, but you log on remotely using their IPv6 addresses.</p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Who do I contact if I have a problem with rlogin or the systems lab?">
                    <p>You need to contact techstaff@cs.vt.edu. If the problem is likely to affect other students enrolled,
                        please also cc: an <a ui-sref="staff">instructor</a> of the class.</p>
                    <p>Please note that if you are reporting a problem that is specific to a particular machine
                        you should mention the name of the machine in your email.  Although all rlogin machines should be set up identically,
                        problems that occur can sometimes be specific to a particular machine.
                    </p>
                    <p>If a problem is specific to a machine, you can try avoiding it by using portal.cs.vt.edu.
                    </p>
                </uib-accordion-group>

            </uib-accordion>
        </faq>
    </div>
</div>
