<div class="row">
    <div class="col-lg-12">
        <h2>Course Policies</h2>
        <h3>Add/Drop Policy</h3>
        <ul>
            <li>Not attending on the first day of class doesn't automatically drop you if
                you are enrolled.</li>
            <li>The department enforces prerequisites (a grade of C or better in a completed 2506 and 2114),
                you can't take either class concurrently with this one.
            </li>
        </ul>
        <h3>Students retaking the class</h3>
        <p>
            Students retaking the class can use
            code that was created previously only as a reference for themselves,
            but they are not allowed to share it with their new group members, be
            it electronically or otherwise.  Any project submission for this semester
            has to be created from scratch by all group members.
        </p>
        <h3>Honor Code</h3>
        <p>Policies related to the <a target="_top" href="http://www.honorsystem.vt.edu/?q=node/4">Undergraduate Honor System</a>
            are outlined in this <a ng-href="{{frontendConfig.syllabus}}">semester's syllabus</a>
            We use standard cheating detection tools such as MOSS, similar to
            <a target="_top" href="http://news-service.stanford.edu/news/2003/march12/judicial-312.html">Stanford (1)</a>,
            <a target="_top" href="http://www.stanfordalumni.org/news/magazine/2003/sepoct/features/plagiarism.html">(2)</a>,
            <a target="_top" href="http://www.sfgate.com/cgi-bin/article.cgi?file=/chronicle/archive/1997/11/25/BU51780.DTL">UC Berkeley</a>,
            or <a target="_top" href="http://www.cse.nd.edu/~kwb/nsf-ufe/1110.pdf">USF</a>.
        </p>
    </div>
</div>
