<div class="row" ng-controller="SubmissionsController">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form" name="uploadForm">
            <fieldset>
                <legend>Upload a submission</legend>
                <div class="form-group row">
                    <label for="file" class="col-md-2 control-label">Id: </label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="pid">
                            <option ng-repeat="(id, ex) in projects" value="{{id}}">
                                {{id}}-{{ex.desc}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="file" ngf-select ng-model="subfile" name="filectrl"
                               class="form-control"
                               ngf-max-size="20MB" required
                               ngf-pattern=".{{projects[pid].suffix}}"
                               ngf-model-invalid="errorFiles">
                        <i ng-show="uploadForm.filectrl.$error.pattern">
                            File must have suffix .{{projects[pid].suffix}}
                        </i>
                    </div>
                    <div class="col-md-2">
                        <button ng-disabled="!uploadForm.$valid" class="form-control"
                                ng-click="uploadFile(pid, subfile)">Submit
                        </button>
                        <div class="progress" ng-show="subfile.progress >= 0">
                            <div style="width:{{subfile.progress}}%" ng-bind="subfile.progress + '%'"></div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success alert-dismissible" ng-show="subfile.result.upload == 1">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>{{subfile.result.msg}}</p>
                </div>
                <div class="alert alert-danger alert-dismissible" ng-show="subfile.result.upload == 0">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>{{subfile.result.msg}}</p>
                    <div ng-bind-html="subfile.result.checkscriptoutput"></div>
                </div>
                <div class="col-mg-4" ng-if="projects[pid].submissiondetails">
                    <details class="h3">
                        <summary>
                            Submission Details
                        </summary>
                        <pre>{{ projects[pid].submissiondetails }}</pre>
                    </details>
                </div>
            </fieldset>
        </form>
        <h2>{{ display_name }} ({{auth_user_name}})'s Submissions</h2>
        <table class="table" ng-init="settings.sortby='-lastmodified'">
            <tr>
                <th ng-repeat="l in columns"><a href="" title="{{l.title}}"
                                                ng-click="settings.toggle(l.sortby)">{{l.label}}</a></th>
                <!--
                                <th>Id</th>
                                <th>Submission</th>
                                <th>Created</th>
                                <th>Last Modified</th>
                                <th>Status</th>
                -->
            </tr>
            <tbody ng-repeat="submission in submissions | orderBy: settings.sortby">
            <tr>
                <td>{{submission.target}}</td>
                <td>{{submission.uuid}}</td>
                <td>{{submission.created | date: 'medium'}}</td>
                <td>{{submission.lastmodified | date: 'medium'}}</td>
                <td>
                    <details ng-click="submission.selected=!submission.selected">
                        <summary>
                                <span ng-if='submission.status != "PROCESSED"'>
                                    {{submission.status}}
                                </span>
                            <span ng-if='submission.status == "PROCESSED"'>

                                    <span ng-if='submission.result.valid && submission.result.grade.TOTAL'>
                                        <a ng-click="linkFunction(submission)">{{submission.result.grade.TOTAL}}</a>
                                    </span>
                                    <span ng-if='submission.result.valid && !submission.result.grade.TOTAL'>
                                        <a ng-click="linkFunction(submission)">See Results</a>
                                    </span>
                                    <span ng-if='! submission.result.valid'>
                                         <a ng-click="linkFunction(submission)">Error!</a>
                                    </span>
                                </span>
                        </summary>
                    </details>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>