<div class="row" ng-controller="VarsysListController">
    <div class="col-lg-12">
        <h1>Welcome to {{frontendConfig.shortname}} Threadlab Performance Evaluation</h1>
        <form class="form-horizontal" role="form" name="uploadForm">
            <fieldset>
                <legend>Choose 1-2 variables, and upload your threadpool.c</legend>
                <p><b>Categorical:</b></p>
                <label ng-repeat-start="elem in shuffled_cat">
                    <input ng-disabled="contradicting(elem) || (selected(categorical) > 0 || total_selected() > 1) && !elem.checked" ng-model="elem.checked" type="checkbox" ng-checked="elem.checked" value="elem.value"> {{elem.id}}
                    <span class="question" title="{{elem.tip}}" data-toggle="tooltip" data-placement="right" tooltip>?</span>
                    <select ng-disabled="elem.checked" ng-model="elem.chosen" ng-options="x for x in elem.options"></select>
                </label><br ng-repeat-end>
                <br>
                <p><b>Ordinal:</b></p>
                <label ng-repeat-start="elem in shuffled_ord">
                    <input ng-disabled="contradicting(elem) || total_selected() > 1 && !elem.checked" ng-model="elem.checked" type="checkbox" ng-checked="elem.checked" value="elem.value"> {{elem.id}}
                    <span class="question" title="{{elem.tip}}" data-toggle="tooltip" data-placement="right" tooltip>?</span>
                    <select ng-disabled="elem.checked" ng-model="elem.chosen" ng-options="x for x in elem.options"></select>
                </label><br ng-repeat-end>
                <div class="form-group row">
                    <div class="col-md-3">
                        <input type="file" ngf-select ng-model="subfile" name="filectrl"
                               class="form-control"
                               ngf-max-size="2MB" required
                               ngf-pattern=".c"
                               ngf-model-invalid="errorFiles">
                        <i ng-show="uploadForm.filectrl.$error.pattern">
                            File must have suffix .c
                        </i>
                    </div>
                    <div class="col-md-2">
                        <button ng-disabled="!uploadForm.$valid || total_selected() == 0" class="form-control"
                                ng-click="uploadFile(pid, subfile, options); sendGA(options)">Submit</button>
                        <div class="progress" ng-show="subfile.progress >= 0">
                            <div style="width:{{subfile.progress}}%" ng-bind="subfile.progress + '%'"></div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success alert-dismissible" ng-show="subfile.result.upload == 1">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>{{subfile.result.msg}}</p>
                </div>
                <div class="alert alert-danger alert-dismissible" ng-show="subfile.result.upload == 0">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>{{subfile.result.msg}}</p>
                    <div ng-bind-html="subfile.result.checkscriptoutput"> </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-12">
        <h2>{{frontendConfig.shortname}} Analyzer Output</h2>
        <div class="col-lg-10">
            <p>Analyses for {{pid}}. The results are automatically refreshed every 60 seconds.</p>
	    <p>If a test is in RUNNING state for more than 30 mins, it has been killed. Please resubmit the test in that case.</p>
            <table class="table" ng-show="analyses.length">
                <tr>
                    <th>ID</th>
                    <th>JobID</th>
                    <th>Timestamp</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
                <tr ng-repeat="s in analyses | orderBy : '-id'">
                    <th>{{s.id}}</th>
                    <th>{{s.jid}}</th>
                    <th>{{s.timestamp}}</th>
                    <th>{{s.status}}</th>
                    <th ng-show="s.status == 'READY'">
                        <a ng-href="#!/getvaranalysispage?pid={{pid}}&id={{s.id}}&plottype={{s.plottype}}&jid={{s.jid}}">Show results</a>
                    </th>
                    <th ng-show="s.status == 'QUEUED'">
                        <a ng-href="#!/getqueuestatuspage">Show queue status</a>
                    </th>
                    <th ng-show="s.status == 'FAILED'">
                        <a ng-href="#!/getvaranalysisfailure?pid={{pid}}&id={{s.id}}&plottype={{s.plottype}}&jid={{s.jid}}">{{s.msg}}</a>
                    </th>
                </tr>
            </table>
            <p ng-show="!analyses.length">
                No Analyses to show at this time, submit your code for an analysis
            </p>

        </div>
    </div>
</div>
