<div ng-controller="AllGradesController">
    <table class="table table-hover">
        <tr><th scope="col"><label>User</label></th><th scope="col"><label>View/Edit Grade</label></th><th scope="col">Grade Total</th></tr>
        <tbody>
            <tr ng-repeat="user_obj in users">
                <td scope="col">{{user_obj.user}}</td>
                <td scope="col"><a target="_blank" ui-sref="gradeSubmission({user: '{{user_obj.user}}', target: '{{target}}'})">View/Edit {{target}} Grade</a></td>
                <td><label class="danger" ng-if="user_obj.total === undefined">-</label><label>{{user_obj.total}}</label></td>
            </tr>
        </tbody>
    </table>
</div>