<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Personal Secure Server Scoreboard</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>Note: on this page, you can see the results others have obtained with their pserv lab implementations.
    To add your results, run <code>server_bench.py</code> as described, which will produce a file <code>results.*.json</code>
    </p>

    <p>You can delete a submission.
    Your submission is shown to you with your real uid, other submissions are shown to you with a hashed uid.  
    You may submit via "sspostresults.py -p" to make your submissions shown to others with your real uid.</p>
    </p>
    </div>
    <div ng-if="loading" class="col-lg-10 col-lg-offset-1 alert alert-info">
            Loading...
    </div>
    <div ng-if="!loading && results.status != 1" class="col-lg-10 col-lg-offset-1 alert alert-danger">
            Could not load results.  Please contact staff.
    </div>
        <table ng-if="results.status == 1" 
                class="table table-condensed table-striped" ng-init="settings.sortby='-login500.reqpers'">
        <thead>
            <tr class="active">
                <th colspan="3"></th>
                <th colspan="4">/login40</th>
                <th colspan="4">/login500</th>
                <th colspan="4">/login10k</th>
                <th colspan="4">/wwwcsvt100</th>
                <th colspan="4">/doom100</th>
                <th></th>
            </tr>
            <tr>
            <th ng-repeat="l in columns"><a href="" title="{{l.title}}" 
                    ng-click="settings.toggle(l.sortby)">{{l.label}}</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in results.data | orderBy:settings.sortby" ng-class="{ 'success' : row.info.uid == user.cookie }">
                <td>{{row.info.uid == user.cookie ? identity.name : row.info.uid}}</td>
                <td><span title="Submitted by {{row.info.uid}} from {{row.info.host}}">{{row.date | date:"M/dd hh:mm a"}}</span></td>
                <td class="text-right"><strong>{{row.login40.reqpers | number:0 }}</strong></td>
                <td class="text-right">{{row.login40.thruput | number:1 }}</td>
                <td class="text-right" ng-class="{ 'text-danger' : row.login40.errors > 0, 'text-success' : row.login40.errors == 0 }" title="{{row.login40.summary.errors}}">{{row.login40.errors}}</td>
                <td class="text-right" title="{{row.login40.latency}}">{{row.login40.meanlatms | number: 3}}ms</td>

                <td class="text-right"><strong>{{row.login500.reqpers | number:0 }}</strong></td>
                <td class="text-right">{{row.login500.thruput | number:1 }}</td>
                <td class="text-right" ng-class="{ 'text-danger' : row.login500.errors > 0, 'text-success' : row.login500.errors == 0}" title="{{row.login500.summary.errors}}">{{row.login500.errors}}</td>
                <td class="text-right" title="{{row.login500.latency}}">{{row.login500.meanlatms | number:2}}ms</td>

                <td class="text-right"><strong>{{row.login10k.reqpers | number:0 }}</strong></td>
                <td class="text-right">{{row.login10k.thruput | number:1 }}</td>
                <td class="text-right" ng-class="{ 'text-danger' : row.login10k.errors > 0, 'text-success' : row.login10k.errors == 0}" title="{{row.login10k.summary.errors}}">{{row.login10k.errors}}</td>
                <td class="text-right" title="{{row.login10k.latency}}">{{row.login10k.meanlatms | number:1}}ms</td>

                <td class="text-right">{{row.wwwcsvt100.reqpers | number:0 }}</td>
                <td class="text-right"><strong>{{row.wwwcsvt100.thruput | number:1 }}</strong></td>
                <td class="text-right" ng-class="{ 'text-danger' : row.wwwcsvt100.errors > 0, 'text-success' : row.wwwcsvt100.errors == 0}" title="{{row.wwwcsvt100.summary.errors}}">{{row.wwwcsvt100.errors}}</td>
                <td class="text-right" title="{{row.wwwcsvt100.latency}}">{{row.wwwcsvt100.meanlatms | number:1}}ms</td>

                <td class="text-right">{{row.doom100.reqpers | number:0 }}</td>
                <td class="text-right"><strong>{{row.doom100.thruput | number:1 }}</strong></td>
                <td class="text-right" ng-class="{ 'text-danger' : row.doom100.errors > 0, 'text-success' : row.doom100.errors == 0}" title="{{row.doom100.summary.errors}}">{{row.doom100.errors}}</td>
                <td class="text-right" title="{{row.doom100.latency}}">{{row.doom100.meanlatms | number:1}}ms</td>

                <td><i ng-click="remove(row)" class="glyphicon glyphicon-remove-sign"></i></td>
            </tr>
        </tbody>
    </table>
<!-- this works.
also applying this to a <td data-toggle="modal" data-target="#myModal"> .. works
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
-->

</div>

