<div class="row">
    <div class="col-lg-12">
        <h1>Submission for {{user}}</h1>
        <a ng-href="{{downloadLink}}" download>Download submission</a>
        <pre>{{submission | json}}</pre>
        <pre ng-if="submission.result.grade.message">
      </pre>
        <div ng-if="submission.result.grade">
            <div>
                <details open>
                    <summary>
                        <h2>GRADE</h2>
                    </summary>
                    <pre>{{submission.result.grade | json}}</pre>
                </details>
            </div>
        </div>
        <div ng-if="submission.result.run">
            <div>
                <details open>
                    <summary>
                        <h2>EXECUTION</h2>
                    </summary>
                    <pre>{{submission.result.run}}</pre>
                </details>
            </div>
        </div>
        <div ng-if="submission.result.build">
            <div>
                <details open>
                    <summary>
                        <h2>BUILD</h2>
                    </summary>
                    <pre>{{submission.result.build}}</pre>
                </details>
            </div>
        </div>
        <div ng-if="submission.result.extract">
            <div>
                <details open>
                    <summary>
                        <h2>EXTRACT</h2>
                    </summary>
                    <pre>{{submission.result.extract}}</pre>
                </details>
            </div>
        </div>
    </div>
</div>