<!-- This template will handle all authentication options offered. -->
<div class="modal-header">
    <h3>Login!</h3>
</div>
<form ng-controller="LoginController" name="form.userForm" ng-submit="signin()">
    <div ng-if="frontendConfig.auth.password" class="modal-body">
        <!-- USERNAME -->
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="form.username" required>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="form.password" required>
        </div>

        <div>
            <p ng-show="submissionInvalid">Invalid Username or Password</p>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="frontendConfig.auth.password" type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary" ng-if="frontendConfig.auth.cas"
                title="A new window will open."
                onclick="popup._OpenCasWindow(); return false;"
            >Login via CAS</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
