<div class="row">
    <div class="col-lg-12">
        <h2>{{frontendConfig.shortname}} Staff</h2>
        <table class="table">
            <tr>
                <th ng-repeat="desc in frontendConfig.staff.desc">
                    {{desc.heading}}
                </th>
                <th>
                  Image
                </th>

            </tr>
            <tr ng-repeat="staff in frontendConfig.staff.members">
                <td ng-repeat="desc in frontendConfig.staff.desc">
                  <p style="white-space: pre;">{{staff[desc.key]}}</p>
                </td>
                <td>
                  <img ng-if="staff.image" ng-src="{{staff.image}}" height="255" width=150"></img>
                </td>

            </tr>
        </table>
        <p>
            All TA office hours will be held in McB 106. If you don't find the TAs there, check in the Systems Lab 124.
            Office hours start Thursday, Aug 25.
        </p>
    </div>
</div>

