<div class="row">
    <div class="col-lg-12">
        <faq faq-heading="{{frontendConfig.shortname}} Submissions FAQ">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group in-faq heading="How do I submit assignments?">
                    <p>You can submit using the <a href="#!/submissions">submission page</a>, where you can also see
                        your past submissions.  However, in order to upload a submission via this page, you would first have
                        to download it to the machine on which your browser runs. For this reason, we have provided a command
                        line utility <tt>submit.py</tt> (located in <tt>~cs3241/bin/</tt>) to allow you to submit from the
                        command line.
                    </p>
                    <p>You need to specify a target, or project id, for your submission, and the name of the file
                        you are submitting.</p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="Why do we check submissions before accepting them?">
                    <p>The submission website performs some checks before accepting (or rejecting)
                        your submission.   This functionality serves to streamline
                        the grading process and allows the use of automated scripts
                        in some cases.
                    </p>
                    <p>It also helps you because it points out reasons that would otherwise lead to deductions
                        before you submit.
                    </p>
                    <p>As a side-effect, we believe it can improve your computer literacy in preparing files
                        and archives in a required format.</p>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="What are general requirements?">
                    We expect that you make an effort for your submissions to be easily readable.
                    For instance, we ask that
                    <ul>
                        <li>Any file containing text (e.g. source code files, header files, plain text files)
                            should stay within 80 characters per line.
                        </li>
                    </ul>
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="What encoding should text files be in?">
                    <p>Any text file submitted must be Unicode in valid UTF-8 encoding.  We prefer, however, ASCII.
                        Please avoid esoteric Unicode characters that may not be available in some fonts,
                        such as this one &#x1f385; or this one &#x1f431; or this one &#x1f42d;. (If you see
                        Santa Claus, a cat and a mouse face, your browser's font supports these Unicode characters.)
                    </p>
                    <p>We use the <a href="http://linux.die.net/man/1/iconv">iconv(1)</a> command to verify
                        if a file is valid UTF-8 by running it as <code>iconv -f UTF-8 -t UTF-8 -o /dev/null yourfile; echo $?</code>.
                        This will output 0 if the file is ok, otherwise you will see an error message and not zero.
                    </p>
                </uib-accordion-group>

                <!--uib-accordion-group in-faq heading="How do I track down why my submission was rejected?">
                    <p>First, read the error message!</p>

                    <p>Also, the test scripts we use are public so you can access them.
                        For instance, say you are trying to submit exercise 1, which asks for
                        a tar file with certain contents. You have created the tar file in mysubmission.tar
                        and it is rejected.
                        To reproduce what the server does when it checks your submission, run
                    <pre>
$ {{frontendConfig.hostpath}}/checkscripts/ex1 ./mysubmission.tar

-----------------------------------
    Your Submission was REJECTED
-----------------------------------

Reason:
Does not contain answers.txt

The content of the tar file is supposed to be
answers.txt dpipe.c
Your submitted content was reported as
dpipe.c

</pre>

                    <p>
                        The reason should be apparent by now - your tar file does not contain answers.txt!
                        If the reason is not apparent, then ask us.  Or, remember than you can look at the checkscript
                        yourselves:
                    </p>

                    <pre>
vim {{course.hostpath}}/checkscripts/ex1
</pre>
                    see what tests the script applies to your code.
                </uib-accordion-group>

                <uib-accordion-group in-faq heading="I just can't figure why my submission is failing. Could the check script be wrong?">
                    <p>
                        The test scripts aren't perfect, but if the mistakes lies with us, we will own up to it.
                        You are expected to make a reasonable effort to diagnose the problem yourself first.
                    </p>
                    <p>If it still does not work, post on the forum with a brief description of the problem.</p>
                    <p>If you've exhausted all recommended steps, do email us your submission so we can track the problem down.</p>
                </uib-accordion-group-->

                <uib-accordion-group in-faq heading="Can't I just email you my submission instead?">
                    <p>
                        We prefer you don't. See also previous question.
                    </p>
                </uib-accordion-group>

            </uib-accordion>
        </faq>
    </div>
</div>
