<div ng-controller="AnalysisInfoController">
    <div>
        <h1>EshMD and ShellTrace Analyses</h1>
        <p>Blended analyses tailored to the esh project. The details on each analysis can be found below.</p>
        <p>Any feedback or questions should be directed toward Eric Williamson at <a href="mailto:ericrw96@vt.edu">ericrw96@vt.edu</a>
        </p>
    </div>
    <div>
        <h2>Usage:</h2>
        <div> Submit your project 1 here</div>
        <div>
            <form class="form-horizontal" role="form" name="uploadForm">
                <div>
                    <input type="file" ngf-select ng-model="subfile" name="filectrl"
                           class="form-control;width:100px"
                           ngf-max-size="5MB" required
                           ngf-pattern=".tar,.gz"
                           ngf-model-invalid="errorFiles"
                           ngf-resize="{width: 100, height: 100}">
                    <i ng-show="uploadForm.filectrl.$error.pattern">
                        File must have suffix .tar or .tar.gz
                    </i>
                    <button ng-disabled="!uploadForm.$valid" class="form-control;width:80px"
                            ng-click="uploadFile(pid, subfile)">Submit shell tarfile
                    </button>
                    <div class="progress;width:80px" ng-show="subfile.progress >= 0">
                        <div style="width:{{subfile.progress}}%" ng-bind="subfile.progress + '%'"></div>
                    </div>
                </div>
            </form>
        </div>
        <div>You can also submit by running `<b>make analysis</b>` in your src folder</div>
    </div>
    <div>
        <h2>Results</h2>
        <p>Here are the results of running the <b>EshMD</b> and <b>ShellTrace</b> analyses on your submitted project.
            We recommend focusing on the static and dynamic errors that are reported by <b>EshMD</b> before looking at
            the results
            of <b>ShellTrace</b>. Explanations for what each analysis does and how the results can be interpreted are
            found below.</p>

        <table class="table">
            <tr>

                <th>Created</th>
                <th>EshMD</th>
                <th>ShellTrace</th>
            </tr>
            <tbody>
            <tr ng-repeat="row in analyses.both | limitTo:5:(currentPage-1)*5">
                <td> {{row.created}}</td>
                <td>
                    <div><span ng-if='row.MD.status != "PROCESSED"'>{{row.MD.status}}</span>
                        <span ng-if='row.MD.status == "PROCESSED"'>
                                    <span ng-if='row.MD.result.valid && row.MD.result.grade.TOTAL'>
                                        <a ng-click="linkFunction(row.MD)">{{row.MD.result.grade.TOTAL}}</a>
                                    </span>
                                    <span ng-if='row.MD.result.valid && !row.MD.result.grade.TOTAL'>
                                        <a ng-click="linkFunction(row.MD)">See Results</a>
                                    </span>
                                    <span ng-if='!row.MD.result.valid'>
                                         <a ng-click="linkFunction(row.MD)">Error!</a>
                                    </span>
                                </span>
                    </div>
                </td>

                <td>
                    <div><span ng-if='row.Trace.status != "PROCESSED"'>{{row.Trace.status}}</span>
                        <span ng-if='row.Trace.status == "PROCESSED"'>
                                    <span ng-if='row.Trace.result.valid && row.Trace.result.grade.TOTAL'>
                                        <a ng-click="linkFunction(row.Trace)">{{row.Trace.result.grade.TOTAL}}</a>
                                    </span>
                                    <span ng-if='row.Trace.result.valid && !row.Trace.result.grade.TOTAL'>
                                        <a ng-click="linkFunction(row.Trace)">See Results</a>
                                    </span>
                                    <span ng-if='!row.Trace.result.valid'>
                                         <a ng-click="linkFunction(row.Trace)">Error!</a>
                                    </span>
                                </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination total-items="maxItem" ng-model="currentPage" items-per-page="5"></uib-pagination>
    </div>
    <div>
        <h1>EshMD</h1>
        <p>The <b>EshMD</b> analysis consists of 2 components: static and dynamic.</p>
        <p>The analysis asserts certain invariants about your submitted code and
            provides you with feedback on where they are invalidated. This can include invalid use of system calls
            as well as misuse of the provided base code (such as the list functions).</p>

        <p>The static analysis looks at the code without running it.
            This is accomplished by taking multiple passes through your code having setting conditions to be true and
            false,
            and seeing what path through your code results.
            This allows us to find a pass in your code that could be executed that results in unwanted
            behavior.
        </p>

        <p>The dynamic analysis runs your code on a specific test case and looks at the actual behavior that your
            program exhibits.
            The initial run of <b>EshMD</b> will run on all of the tests run by <tt>stdriver.py</tt>.
            For the dynamic analysis we provide the instrumented executable for you to run on your own tests as well.
        </p>
        <div>
            <h3>
                Static Analysis Results
            </h3>
            <p>The static analysis will list all bugs found and link to the path taken that caused the bug.</p>
            <p>The example below shows a static analysis report that has flagged a double close on a file
                descriptor.</p>
            <img src="images/StaticAnalyzerMainPage.bmp"/>
            <p>Each bug report will show the annotated source code that traces the path through your code the static
                analyzer took to arrive at its conclusion.</p>
            <img src="images/StaticAnalyzerFlag.bmp"/>

            <p>The static analysis will also flag general bugs, such as uninitialized variables.</p>
        </div>
        <div>
            <h3>
                Dynamic Analysis Results
            </h3>
            <p>The dynamic analysis will run each test and check the behavior of your shell.</p>
            <p>The results of a test from the <b>EshMD</b> dynamic analysis are:</p>
            <ul>
                <li><span class="label label-success">Pass</span> - The program passed the test and no behavior was
                    flagged
                </li>
                <li><span class="label label-warning">Warning</span> - The program passed the test but <b>EshMD</b>
                    flagged
                    some behavior
                </li>
                <li><span class="label label-danger">Fail</span> - The program did not pass the test</li>
            </ul>
            <p>When <b>EshMD</b> flags an error, it will produce backtraces.
                You can use these to determine where in your code the error occurred.</p>
            <img src="images/DynamicAnalysisError.png"/>
        </div>
    </div>

    <div>
        <h1>ShellTrace</h1>
        <p>The <b>ShellTrace</b> analyzer draws a graph that models the flow of resources such as file descriptors
            during the
            program execution.</p>
        <p>This graph is a directed graph composed of nodes and edges.</p>
        <ul>
            <li>Nodes - A node is an event (function call or signal) that contains the relevant parameters and return
                values. A node is present on this graph if it has created or used a resource.
            </li>
            <li>Edges - An edge on this graph represents a dependency between the source node and the destination node.
                This establishes a <i>happens before</i> relationship where the source node must happen before the
                destination
                node.
            </li>
        </ul>
        <p>For Example consider the following code.</p>
        <script type="text/ng-template" id="ShellTraceExampleCode">
int main(){
  int fd = open("/tmp/dummy_file", O_WRONLY | O_CREAT);
  int fd2 = open("/tmp/dummy_file2", O_WRONLY | O_CREAT);
  write(fd, "HI", 2);
  close(fd);
  close(fd2);
}</script>
        <div hljs include="'ShellTraceExampleCode'" language="c"></div>
        <p>This code produces the following graph.</p>
        <img src="images/ShellTraceExampleGraph.svg"/>
        <p>We can see that there are 2 different resources that are being traced here: file descriptors 3(fd) and
            4(fd2).</p>
        <p>The order between the calls for fd and fd2 do not matter, so there is not a dependency between their
            respective open calls.</p>
        <p>However, the order of the calls for a particular file descriptor does matter.
            We must have the file descriptor 3 open to write to it and have written to it before we can close it.</p>

        <p>The graphs generated by the <b>ShellTrace</b> analysis show the relevant dependencies that must obey an
            ordering.
            If a node has multiple parents (aka it has multiple edges going into it) then that node must occur after
            both parent nodes to be correct.</p>
        <div>
            <p>To create this analysis, we generated a <b>ShellTrace</b> graph for the reference solution and your
                working
                solution and compared them.</p>
            <p> If you have an additional node in your graph that is not present in the reference solution, you will see
                it colored in red.</p>
        </div>
        <div>
            <p>Like the dynamic analysis part of the <b>EshMD</b> analysis <b>ShellTrace</b> will be run on each of the
                tests in <tt>stdriver.py</tt>.
            </p>
            <p>The results of each test under <b>ShellTrace</b> are:</p>
            <ul>
                <li><span class="label label-success">Pass</span> - The program passed the test and the generated graphs
                    matched
                </li>
                <li><span class="label label-warning">Warning</span> - The program passed the test but the graph your
                    program generated did not match the reference graph
                </li>
                <li><span class="label label-danger">Fail</span> - The program did not pass the test</li>
            </ul>
        </div>

        <p>The example below shows the output of running on a shell that creates an extra pipe.
            This generates a warning because the code will correctly pass the test but is wastefully allocating file
            descriptors.</p>
        <img src="images/ShellTraceWarning.png"/>
        <p>We can see that the relevant pipe system call is highlighted in red to suggest investigating why another pipe
            is called.</p>
    </div>
</div>